name: Windows RDP Server Cloudflare

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  cache-test:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Restore cache
        id: cache
        uses: actions/cache@v4
        with:
          path: |
            ~\cicy
          key: test-cache-windows-v1

      - name: Show cache status
        shell: pwsh
        run: |
          if ("${{ steps.cache.outputs.cache-hit }}" -eq "true") {
            Write-Host "Cache HIT"
          } else {
            Write-Host "Cache MISS"
          }

      - name: Create folder and file when cache missing
        if: steps.cache.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          New-Item -ItemType Directory -Force ~\cicy
          "Test cache" | Out-File ~\cicy\test.txt
          Write-Host "Created test cache file"

      - name: List contents of cache folder
        shell: pwsh
        run: |
          Write-Host "Listing ~\cicy"
          if (Test-Path ~\cicy) {
            Get-ChildItem ~\cicy -Recurse
          } else {
            Write-Host "Directory does not exist"
          }
      - name: Show pip cache dir
        shell: pwsh
        run: python -m pip cache dir

      - name: Restore pip cache
        id: cache-pip
        uses: actions/cache@v4
        with:
          path: ~\appdata\local\pip\cache
          key: cicy-window-cache-pip

      - name: Install Jupyter
        if: steps.cache-pip.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          python -m pip install --upgrade pip
          pip install jupyterlab

      - name: Run Jupyter
        if: steps.cache-pip.outputs.cache-hit == 'true'
        shell: pwsh
        run: |
          jupyter --version
