name: Jupter

on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  Jupter:
    runs-on: windows-latest
    timeout-minutes: 3600

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Cloudflared
        shell: pwsh
        run: .github/workflows/scripts/win-install-cloudflared.ps1

      - name: Establish Cloudflared Connection
        shell: pwsh
        env:
          CF_TUNNEL: ${{ secrets.WIN_CF_TUNNEL }}
        run: .github/workflows/scripts/win-establish-cf.ps1

      - name: Restore pip cache
        id: cache-pip
        uses: actions/cache@v4
        with:
          path: ~\appdata\local\pip\cache
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install Jupyter and Run Jupyter in backend
        shell: pwsh
        env:
          JUPYTER_TOKEN: ${{ secrets.JUPYTER_TOKEN }}
        run: |
          pip install jupyterlab
          jupyter --version
          # Run Jupyter Lab in background (detached)
          Start-Process `
            -FilePath "jupyter" `
            -ArgumentList @(
              "lab",
              "--IdentityProvider.token=$env:JUPYTER_TOKEN",
              "--ip=0.0.0.0",
              "--port=8888",
              "--ServerApp.allow_remote_access=True",
              "--ServerApp.trust_xheaders=True",
              "--no-browser"
            ) `
            -WindowStyle Hidden
      - name: Get npm cache directory
        id: npm-cache-dir
        shell: pwsh
        run: echo "dir=$(npm config get cache)" >> ${env:GITHUB_OUTPUT}

      - uses: actions/cache@v4
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: ${{ steps.npm-cache-dir.outputs.dir }}
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Run electron
        shell: pwsh
        run: |
          git clone https://github.com/cicybot/electron-headless.git
          cd electron-headless\electron
          npm install electron -g
          npm install -d
          Start-Process `
             -FilePath "npm" `
             -ArgumentList @(
               "run",
               "start"
             ) `
             -WindowStyle Hidden

      - name: Maintain Connection
        shell: pwsh
        run: |
          Write-Host "==================`n"
#          while ($true) {
#            Write-Host "[$(Get-Date)] Active - Use Ctrl+C in workflow to terminate"
#            Start-Sleep -Seconds 10
#          }